@media (min-aspect-ratio: 16/9) {
    main {
        padding: 1svh 0 1svh 0;
    }
    
    .main {
        padding: 0 20svw 0 20svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-16x9);
    }

    p, .katex-display, summary, li::marker, button, a, table {
        font-size: var(--medium-16x9);
    }

    foreignObject, text {
        font-size: var(--small-16x9);
    }
}