@media (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/9) {
    main {
        padding: 0svh 0 1svh 0;
    }
    
    .main {
        margin: 0 7.5svw 0 7.5svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-4x3);
    }
    
    p, .katex-display, summary, li::marker, button, a, table {
        font-size: var(--medium-4x3);
    }

    foreignObject, text {
        font-size: var(--small-4x3t);
    }
}