@media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 4/3) {
    .theme-toggle {
        height: 5svh;
        width: 5svh;
    }

    .theme-toggle:hover svg {
        transform: scale(1);
    }

    .main {
        padding: 0 5svw 0 5svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-9x16);
    }
        
    p, .katex-display, summary, li::marker, button, a, table {
        font-size: var(--medium-9x16);
    }

    foreignObject, text {
        font-size: var(--small-9x16);
    }
}