@media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 4/3) {
    .main {
        margin: 0 5svw 0 5svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-9x16-font);
    }
        
    p, a, details, li, table {
        font-size: var(--regular-9x16-font);
    }

    foreignObject, text {
        font-size: var(--small-9x16-font);
    }
}