@media (max-aspect-ratio: 9/16) {
    .main {
        margin: 0 2.5svw 1svh 2.5svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-9x16);
    }
    
    p, .katex-display, summary, li::marker, button, a, table {
        font-size: var(--medium-9x16);
    }

    foreignObject, text {
        font-size: var(--small-9x16);
    }
} 